body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: #c62828;
    color: white;
    padding: 20px;
}

.sos-btn {
    background: red;
    color: white;
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

section {
    margin-top: 50px;
}
