body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #c62828;
    color: white;
    padding: 30px;
}

.controls {
    margin: 30px;
}

button {
    padding: 12px 20px;
    margin: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.sos-btn {
    background: red;
    color: white;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}
